Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g14: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, lint-staged

.lefthook.yml:

pre-push:
  parallel: true
  commands:
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run {staged_files}
    lint-staged:
      root: "peerprep/"
      glob: "*"
      run: npx lint-staged

Change question seed to be syntactically valid
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Remove duplicated code
  formatter/src/app.py
Due: none

Add logs and deploy script
  kubernetes/apply_k8s_configs.ps1
  peerprep/.gitignore
  peerprep/Dockerfile
  peerprep/app/actions/server_actions.ts
  peerprep/app/actions/session.ts
  peerprep/components/questionpage/Matchmaking.tsx
Due: lint-staged

Fix formatting
  peerprep/api/structs.ts
  peerprep/app/api/internal/formatter/helper.ts
  peerprep/app/api/internal/formatter/route.ts
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Show better error message on syntax errors
  peerprep/app/api/internal/formatter/helper.ts
  peerprep/app/api/internal/formatter/route.ts
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

test npm install
  compose.yaml
  peerprep/Dockerfile
Due: lint-staged

test formatter
  kubernetes/collab-service-deployment.yaml
  kubernetes/formatter-deployment.yaml
  kubernetes/formatter-service.yaml
  kubernetes/nginx-deployment.yaml
  kubernetes/peerprep-deployment.yaml
  peerprep/.dockerignore
Due: lint-staged

Basic history REST implementation
  compose.yaml
  history/.air.toml
  history/.env.example
  history/.gitignore
  history/Dockerfile
  history/common/logger_struct.go
  history/common/question_struct.go
  history/common/user_struct.go
  history/database/initialise_database.go
  history/go.mod
  history/go.sum
  history/main.go
  history/transport/health.go
  history/transport/middleware.go
  history/transport/record_endpoints.go
  history/transport/records_http_requests.go
Due: golangci-lint

Add Dockerfile to Comms module
  comms/Dockerfile
  comms/server.js
  compose.yaml
  nginx/nginx.conf
  peerprep/components/questionpage/CommsPanel.tsx
  peerprep/next.config.js
Due: lint-staged

Add some system status display
  peerprep/app/api/internal/questions/helper.ts
  peerprep/app/layout.tsx
  peerprep/app/questions/new/page.tsx
  peerprep/app/questions/page.tsx
  peerprep/components/questionpage/Matchmaking.tsx
  peerprep/components/questionpage/QuestionCard.tsx
  peerprep/components/questionpage/QuestionList.tsx
  peerprep/components/ui/toast.tsx
  peerprep/components/ui/toaster.tsx
  peerprep/hooks/use-toast.ts
  peerprep/package-lock.json
  peerprep/package.json
  peerprep/style/questionCard.module.css
Due: lint-staged

Fix cookie issue
  kubernetes/peerprep-deployment.yaml
  peerprep/app/actions/session.ts
Due: lint-staged

WIP
  peerprep/app/api/internal/user/helper.ts
  peerprep/app/api/internal/user/route.ts
  peerprep/app/user/history/page.tsx
  peerprep/app/user/profile/page.tsx
  peerprep/app/user/settings/page.tsx
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Fix merge conflicts from branch: n1-comms
  collab/main.go
  peerprep/components/questionpage/CollabEditor.tsx
Due: golangci-lint, lint-staged

add comms
  compose.yaml
  kubernetes/collab-service-deployment.yaml
  kubernetes/comms-deployment.yaml
  kubernetes/comms-service.yaml
  kubernetes/matching-service-api-deployment.yaml
  kubernetes/matching-service-deployment.yaml
  kubernetes/peerprep-deployment.yaml
  kubernetes/storage-blob-api-deployment.yaml
Due: none

Fix questions page not refreshing when deleted
  peerprep/app/api/internal/questions/route.ts
  peerprep/app/questions/[question]/question.tsx
  peerprep/app/questions/loading.tsx
  peerprep/app/questions/new/page.tsx
  peerprep/app/questions/page.tsx
  peerprep/components/questionpage/QuestionCard.tsx
  peerprep/components/questionpage/QuestionList.tsx
Due: lint-staged

Merged fix-add-question and home-page
  peerprep/.dockerignore
  peerprep/api/gateway.ts
  peerprep/app/actions/server_actions.ts
  peerprep/app/api/internal/questions/route.ts
  peerprep/app/globals.css
  peerprep/app/layout.tsx
  peerprep/app/questions/QuestionForm.tsx
  peerprep/app/questions/[question]/[roomID]/page.tsx
  peerprep/app/questions/[question]/page.tsx
  peerprep/app/questions/edit/[question]/page.tsx
  peerprep/app/questions/page.tsx
  peerprep/components/questionpage/QuestionList.tsx
  peerprep/components/shared/PeerprepButton.tsx
  peerprep/contexts/QuestionFilterContext.tsx
  peerprep/package-lock.json
Due: lint-staged

Fix unterminated string literals
  peerprep/app/questions/page.tsx
  peerprep/contexts/QuestionFilterContext.tsx
Due: lint-staged

Fix /questions page refreshing on add/edit
  peerprep/api/gateway.ts
  peerprep/app/api/internal/questions/helper.ts
  peerprep/app/api/internal/questions/route.ts
  peerprep/app/questions/[question]/question.tsx
  peerprep/app/questions/edit/[question]/EditQuestion.tsx
  peerprep/app/questions/helper.ts
  peerprep/app/questions/new/page.tsx
  peerprep/components/questionpage/QuestionCard.tsx
Due: lint-staged

Fix unterminated string literal
  peerprep/api/gateway.ts
Due: lint-staged

Add second gateway to connect socket.io behind
  comms/server.js
  compose.yaml
  inbound-gateway/Dockerfile
  inbound-gateway/README.md
  inbound-gateway/nginx.conf
  nginx/Dockerfile
  nginx/nginx.conf
  peerprep/components/questionpage/CommsPanel.tsx
Due: lint-staged

Swapped gateway ports 70 and 80 to prep for SSL
  compose.yaml
  inbound-gateway/Dockerfile
  inbound-gateway/nginx.conf
  nginx/Dockerfile
  nginx/nginx.conf
Due: none

Set edit/add question to admin only actions
  comms/package-lock.json
  peerprep/api/gateway.ts
  peerprep/app/actions/server_actions.ts
  peerprep/app/questions/[question]/[roomID]/page.tsx
  peerprep/app/questions/[question]/page.tsx
  peerprep/app/questions/edit/[question]/page.tsx
  peerprep/app/questions/helper.ts
  peerprep/app/questions/loading.tsx
  peerprep/app/questions/new/ExampleQuestion.ts
  peerprep/app/questions/page.tsx
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/components/questionpage/Matchmaking.tsx
  peerprep/components/questionpage/QuestionCard.tsx
  peerprep/contexts/UserInfoContext.tsx
  peerprep/middleware.ts
Due: lint-staged

Fix editQuestion form style and error handling
  peerprep/api/structs.ts
  peerprep/app/questions/QuestionForm.tsx
  peerprep/app/questions/edit/[question]/EditQuestion.tsx
  peerprep/app/questions/helper.ts
  peerprep/components/modifyQuestion/Tiptap.tsx
  peerprep/components/navbar/Navbar.tsx
  peerprep/components/ui/form.tsx
  peerprep/components/ui/tags.tsx
  peerprep/style/tiptap.css
Due: lint-staged

CSS for questions list, new, edit
  peerprep/app/layout.tsx
  peerprep/app/questions/QuestionForm.tsx
  peerprep/app/questions/edit/[question]/EditQuestion.tsx
  peerprep/app/questions/new/page.tsx
  peerprep/app/questions/page.tsx
  peerprep/components/modifyQuestion/Tiptap.tsx
  peerprep/components/ui/tags.tsx
  peerprep/style/tiptap.css
Due: lint-staged

Fix carousel
  peerprep/app/page.tsx
  peerprep/components/home/Carousel.tsx
  peerprep/public/boring1.png
  peerprep/public/boring2.png
  peerprep/public/boring3.png
Due: lint-staged

Add alert on fail to match
  peerprep/components/questionpage/Matchmaking.tsx
Due: lint-staged

Make question filter sticky
  peerprep/components/questionpage/QuestionList.tsx
Due: lint-staged

Show error on duplicate user registration
  peerprep/app/actions/server_actions.ts
  peerprep/app/auth/register/page.tsx
Due: lint-staged

Make textbox visible in login/register
  peerprep/app/actions/server_actions.ts
  peerprep/components/questionpage/CommsPanel.tsx
  peerprep/style/form.module.css
Due: lint-staged

Adjust logout handling to be done in middleware
  peerprep/app/actions/server_actions.ts
  peerprep/app/actions/session.ts
  peerprep/app/api/internal/auth/expire/route.ts
  peerprep/components/navbar/ProfileDropdown.tsx
  peerprep/middleware.ts
Due: lint-staged

Add eslint disable to let npm build go through
  peerprep/next.config.js
Due: lint-staged

prevent users from matching with themselves
  collab/main.go
  matching-service/storage/client_mappings.go
  peerprep/next.config.js
Due: golangci-lint, lint-staged

Add deployment
  compose.yaml
  inbound-gateway/nginx.conf
  kubernetes/apply_k8s_configs.ps1
  kubernetes/backend-deployment.yaml
  kubernetes/collab-service-deployment.yaml
  kubernetes/comms-deployment.yaml
  kubernetes/formatter-deployment.yaml
  kubernetes/inbound-gateway-deployment.yaml
  kubernetes/inbound-gateway-service.yaml
  kubernetes/matching-service-api-deployment.yaml
  kubernetes/matching-service-deployment.yaml
  kubernetes/peerprep-deployment.yaml
  kubernetes/storage-blob-api-deployment.yaml
  kubernetes/user-service-deployment.yaml
Due: none

Increase timeoutSec
  kubernetes/inbound-gateway-service.yaml
Due: none

Set time to UTC time by default
  matching-service-api/transport/request_handler.go
  matching-service/storage/client_mappings.go
  matching-service/storage/room_mappings.go
  peerprep/components/questionpage/Matchmaking.tsx
Due: golangci-lint, lint-staged

Remove redundant time subtraction
  matching-service/storage/client_mappings.go
  matching-service/storage/room_mappings.go
Due: golangci-lint

Add pinging to other user during collab
  collab/main.go
Due: golangci-lint

Add hook to prevent webcall until authorized
  collab/main.go
  peerprep/components/questionpage/CollabEditor.tsx
Due: golangci-lint, lint-staged

Properly hook authentication up to message
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Add room deletion on room closure
  collab/main.go
Due: golangci-lint
