Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g14: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, lint-staged

golangci-lint:
  run: golangci-lint run {staged_files}

lint-staged:
  run: npx lint-staged

UI icons and navbar dropdown
  peerprep/.env.example
  peerprep/app/layout.tsx
  peerprep/app/page.tsx
  peerprep/app/theme-provider.tsx
  peerprep/components/home/Carousel.tsx
  peerprep/components/navbar/ProfileDropdown.tsx
  peerprep/components/shared/PeerprepButton.tsx
  peerprep/components/shared/PeerprepDropdown.tsx
  peerprep/components/shared/PeerprepSearchBar.tsx
  peerprep/middleware.ts
  peerprep/style/elements.module.css
Due: lint-staged

Update lefthook
  .lefthook.yml
Due: none

Fix broken addquestion difficulty
  peerprep/app/questions/new/page.tsx
  peerprep/components/shared/form/RadioButtonGroup.tsx
Due: lint-staged

add close button
  collab/main.go
  matching-service-api/log/matching_service_api.log
  peerprep/components/questionpage/CollabEditor.tsx
  storage-blob-api/log/matching_service_api.log
Due: golangci-lint, lint-staged

dockerize
  collab/Dockerfile
  collab/go.mod
  collab/main.go
  compose.yaml
  matching-service-api/log/matching_service_api.log
  matching-service/log/matching_service.log
  storage-blob-api/log/matching_service_api.log
Due: golangci-lint

Basic addquestion page
  .lefthook.yml
  peerprep/README.md
  peerprep/app/questions/newquestion/ExampleQuestion.tsx
  peerprep/app/questions/newquestion/MenuBar.tsx
  peerprep/app/questions/newquestion/Tiptap.tsx
  peerprep/app/questions/newquestion/Tooltip.tsx
  peerprep/app/questions/newquestion/page.tsx
  peerprep/components/home/Carousel.tsx
  peerprep/components/navbar/Navbar.tsx
  peerprep/components/shared/PeerprepSearchBar.tsx
  peerprep/components/shared/form/FormTextInput.tsx
  peerprep/package-lock.json
  peerprep/package.json
  peerprep/style/addquestion.module.css
  peerprep/style/form.module.css
  peerprep/style/tiptap.css
Due: lint-staged

Add room verification
  collab/go.mod
  collab/go.sum
  collab/main.go
  collab/verify/roomMappings.go
  matching-service-api/log/matching_service_api.log
  matching-service/log/matching_service.log
  peerprep/app/questions/[question]/[roomID]/question.tsx
  peerprep/components/questionpage/CollabEditor.tsx
  storage-blob-api/log/matching_service_api.log
Due: golangci-lint, lint-staged

Update Match found alert and collab server down feedback
  matching-service-api/log/matching_service_api.log
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/components/questionpage/Matchmaking.tsx
  storage-blob-api/log/matching_service_api.log
Due: lint-staged

Rudimentary Dockerfile and compose
  compose.yaml
  nginx/Dockerfile
  nginx/nginx.conf
Due: none

Fix close room button showing up
  compose.yaml
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Dockerise nginx and add basic nginx.conf
  compose.yaml
  nginx/README.md
  nginx/nginx.conf
  peerprep/.env.example
  peerprep/api/gateway.ts
  peerprep/app/api/internal/matching/helper.ts
  peerprep/app/api/internal/matching/route.ts
  peerprep/app/api/internal/questions/helper.ts
  peerprep/app/api/internal/questions/route.ts
  peerprep/components/questionpage/QuestionList.tsx
Due: lint-staged

Fix compiler error related to DOMPurify
  peerprep/app/questions/[question]/[roomID]/question.tsx
  peerprep/app/questions/[question]/question.tsx
  peerprep/package-lock.json
Due: lint-staged

Fix add question page except for css
  .gitignore
  lc/.gitignore
  peerprep/app/actions/server_actions.ts
  peerprep/app/globals.css
  peerprep/app/questions/[question]/question.tsx
  peerprep/app/questions/new/ExampleQuestion.tsx
  peerprep/app/questions/new/page.tsx
  peerprep/app/questions/newquestion/page.tsx
  peerprep/components.json
  peerprep/components/modifyQuestion/MenuBar.tsx
  peerprep/components/modifyQuestion/Tiptap.tsx
  peerprep/components/modifyQuestion/Tooltip.tsx
  peerprep/components/ui/badge.tsx
  peerprep/components/ui/button.tsx
  peerprep/components/ui/form.tsx
  peerprep/components/ui/input.tsx
  peerprep/components/ui/label.tsx
  peerprep/components/ui/select.tsx
  peerprep/components/ui/tags.tsx
  peerprep/lib/utils.ts
  peerprep/package-lock.json
  peerprep/package.json
  peerprep/style/addquestion.module.css
  peerprep/style/question.module.css
  peerprep/style/tiptap.css
  peerprep/tailwind.config.ts
Due: lint-staged

Add logout under profile dropdown
  peerprep/components/navbar/ProfileDropdown.tsx
Due: lint-staged

Fix login bug
  nginx/nginx.conf
  peerprep/Dockerfile
  peerprep/app/questions/page.tsx
Due: lint-staged

Change blob to be queried by a random hash instead
  matching-service-api/mappings/client_mappings.go
  matching-service-api/models/request.go
  matching-service-api/transport/request_handler.go
  matching-service/models/matching_request.go
  matching-service/models/room.go
  matching-service/storage/client_mappings.go
  matching-service/storage/room_mappings.go
  storage-blob-api/transport/endpoint.go
  storage-blob-api/transport/request_handler.go
Due: golangci-lint

Hook up new logic for matching to frontend
  peerprep/api/structs.ts
  peerprep/app/api/internal/matching/helper.ts
  peerprep/app/api/internal/matching/route.ts
  peerprep/app/questions/[question]/[roomID]/page.tsx
  peerprep/app/questions/[question]/[roomID]/question.tsx
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/components/questionpage/Matchmaking.tsx
  peerprep/components/shared/PeerprepButton.tsx
Due: lint-staged

Add manifests
  kubernetes/backend-deployment.yaml
  kubernetes/backend-service.yaml
  kubernetes/collab-service-deployment.yaml
  kubernetes/collab-service-service.yaml
  kubernetes/matching-service-api-deployment.yaml
  kubernetes/matching-service-api-service.yaml
  kubernetes/matching-service-deployment.yaml
  kubernetes/peerprep-deployment.yaml
  kubernetes/peerprep-service.yaml
  kubernetes/rabbitmq-service.yaml
  kubernetes/rabbitmq-statefulset.yaml
  kubernetes/redis-service.yaml
  kubernetes/redis-statefulset.yaml
  kubernetes/storage-blob-api-deployment.yaml
  kubernetes/storage-blob-api-service.yaml
  kubernetes/user-service-deployment.yaml
  kubernetes/user-service-service.yaml
Due: none

Add edit question
  backend/transport/replace_question.go
  peerprep/api/gateway.ts
  peerprep/api/structs.ts
  peerprep/app/api/internal/questions/helper.ts
  peerprep/app/api/internal/questions/route.ts
  peerprep/app/questions/QuestionForm.tsx
  peerprep/app/questions/edit/[question]/EditQuestion.tsx
  peerprep/app/questions/edit/[question]/page.tsx
  peerprep/components/questionpage/QuestionCard.tsx
Due: golangci-lint, lint-staged

Remove lefthook
  .lefthook.yml
Due: none

fix issues for kubernetes
  compose.yaml
  kubernetes/matching-service-deployment.yaml
  kubernetes/nginx-deployment.yaml
  kubernetes/nginx-service.yaml
  kubernetes/peerprep-deployment.yaml
Due: none

Add persistent store of rooms
  collab/main.go
  collab/verify/persistMappings.go
  collab/verify/roomMappings.go
  matching-service/main.go
  storage-blob-api/main.go
Due: golangci-lint

Fix websocket issue on client components
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/package-lock.json
  peerprep/package.json
  peerprep/pages/api/proxy/[...path].ts
Due: lint-staged

Fix for ws
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/package-lock.json
  peerprep/package.json
  peerprep/pages/api/proxy/[...path].ts
Due: lint-staged

Update nginx conf for watch (i think)
  nginx/nginx.conf
Due: none

Doesn't work, just trying out different things
  collab/go.mod
  collab/go.sum
  collab/main.go
  collab/transport/question_http_requests.go
  compose.yaml
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/pages/api/_proxy.ts
  peerprep/pages/api/collab.ts
  peerprep/pages/api/proxy/[...path].ts
  peerprep/pages/api/testApi.ts
Due: golangci-lint, lint-staged

Fix collab cannot find transport
  collab/main.go
Due: golangci-lint

Moved localhost to env variable
  collab/main.go
  nginx/nginx.conf
  peerprep/components/questionpage/CollabEditor.tsx
Due: golangci-lint, lint-staged

Add collab fix to next config
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/next.config.js
Due: lint-staged

temp fix for collab
  collab/Dockerfile
  collab/main.go
  kubernetes/collab-service-deployment.yaml
  kubernetes/collab-service-service.yaml
  kubernetes/peerprep-deployment.yaml
  peerprep/api/gateway.ts
  peerprep/components/questionpage/CollabEditor.tsx
Due: golangci-lint, lint-staged

Attempt to fix collab ws issues
  nginx/nginx.conf
  peerprep/components/questionpage/Matchmaking.tsx
  peerprep/next.config.js
Due: lint-staged

Add basic implementation of history server
  history/.air.toml
  history/.env.example
  history/.gitignore
  history/Dockerfile
  history/common/logger_struct.go
  history/common/question_struct.go
  history/common/user_struct.go
  history/database/initialise_database.go
  history/go.mod
  history/go.sum
  history/main.go
  history/transport/health.go
  history/transport/middleware.go
  history/transport/record_endpoints.go
  history/transport/records_http_requests.go
Due: golangci-lint

update manifests
  kubernetes/backend-HPA.yaml
  kubernetes/backend-deployment.yaml
  peerprep/Dockerfile
Due: lint-staged

Add comms component, without dockerization
  comms/.env.example
  comms/.gitignore
  comms/package-lock.json
  comms/package.json
  comms/server.js
Due: none

Add UI for Comms, switched off StrictMode
  peerprep/app/questions/[question]/[roomID]/question.tsx
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/components/questionpage/CommsPanel.tsx
  peerprep/next.config.js
  peerprep/package-lock.json
  peerprep/package.json
  peerprep/style/question.module.css
Due: lint-staged

Use dmp for hopefully faster changes
  collab/main.go
  compose.yaml
  peerprep/.dockerignore
  peerprep/Dockerfile
  peerprep/api/gateway.ts
  peerprep/app/actions/server_actions.ts
  peerprep/app/actions/session.ts
  peerprep/app/questions/[question]/[roomID]/page.tsx
  peerprep/app/questions/[question]/[roomID]/question.tsx
  peerprep/components/questionpage/CollabEditor.tsx
  peerprep/package-lock.json
  peerprep/package.json
Due: golangci-lint, lint-staged

Add formatter url
  compose.yaml
  formatter/Dockerfile
  formatter/app.py
  lc/.gitignore
  nginx/nginx.conf
  peerprep/api/structs.ts
  peerprep/app/api/internal/formatter/helper.ts
  peerprep/app/questions/[question]/[roomID]/question.tsx
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Better error response in console when formatters fail
  formatter/Dockerfile
  formatter/src/app.py
  formatter/src/js_syntax_check.js
  formatter/src/parsers.py
  peerprep/app/api/internal/formatter/helper.ts
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Path conditions:
  golangci-lint: any of: *.go
  lint-staged: any of: * and ^peerprep/
