Repository CS3219-AY2425S1/cs3219-ay2425s1-project-g14: changes, and which lefthook commands are due for each by the changed paths.
All: golangci-lint, lint-staged

.lefthook.yml:

pre-push:
  parallel: true
  commands:
    golangci-lint:
      glob: "*.go"
      run: golangci-lint run {staged_files}
    lint-staged:
      root: "peerprep/"
      glob: "*"
      run: npx lint-staged

Remove unnecessary fields in persistentRoom store
  collab/verify/roomMappings.go
Due: golangci-lint

Store text-editor content within server
  collab/main.go
  peerprep/app/questions/[question]/[roomID]/question.tsx
  peerprep/app/questions/[question]/question.tsx
  peerprep/components/questionpage/CollabEditor.tsx
Due: golangci-lint, lint-staged

merge post-ms6
  compose.yaml
  kubernetes/collab-service-deployment.yaml
  kubernetes/peerprep-deployment.yaml
Due: none

Start adding online indicator for collab editor
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Temp fix for heartbeat
  collab/main.go
  peerprep/Dockerfile
  peerprep/components/questionpage/CollabEditor.tsx
Due: golangci-lint, lint-staged

Fix types
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Fix after merge
  collab/main.go
  peerprep/Dockerfile
  peerprep/components/questionpage/CollabEditor.tsx
Due: golangci-lint, lint-staged

Update deployment and stress test with locust
  kubernetes/collab-service-HPA.yaml
  kubernetes/collab-service-deployment.yaml
  kubernetes/comms-HPA.yaml
  kubernetes/comms-deployment.yaml
  kubernetes/comms-service.yaml
  kubernetes/formatter-HPA.yaml
  kubernetes/formatter-deployment.yaml
  kubernetes/inbound-gateway-HPA.yaml
  kubernetes/inbound-gateway-deployment.yaml
  kubernetes/matching-service-HPA.yaml
  kubernetes/matching-service-api-HPA.yaml
  kubernetes/matching-service-api-deployment.yaml
  kubernetes/matching-service-deployment.yaml
  kubernetes/nginx-HPA.yaml
  kubernetes/nginx-deployment.yaml
  kubernetes/nginx-service.yaml
  kubernetes/peerprep-HPA.yaml
  kubernetes/peerprep-deployment.yaml
  kubernetes/peerprep-service.yaml
  kubernetes/storage-blob-api-HPA.yaml
  kubernetes/storage-blob-api-deployment.yaml
  kubernetes/user-service-HPA.yaml
  kubernetes/user-service-deployment.yaml
  locusts/__pycache__/locustfile.cpython-311.pyc
  locusts/locustfile.py
  locusts/readme.md
Due: none

add risky room expiry
  collab/main.go
  collab/verify/persistMappings.go
  collab/verify/roomMappings.go
  peerprep/components/questionpage/CollabEditor.tsx
Due: golangci-lint, lint-staged

Add refresh of simple-peer objects when DC
  comms/server.js
  peerprep/components/questionpage/CommsPanel.tsx
Due: lint-staged

Adjusted comms fix to be independent of latency
  comms/server.js
  peerprep/components/questionpage/CommsPanel.tsx
Due: lint-staged

Add a simple status message indicating no call
  peerprep/components/questionpage/CommsPanel.tsx
Due: lint-staged

Add fix for close room
  collab/main.go
  compose.yaml
  kubernetes/collab-service-deployment.yaml
  kubernetes/comms-deployment.yaml
  kubernetes/peerprep-deployment.yaml
Due: golangci-lint

Fix the server content being wiped
  collab/main.go
Due: golangci-lint

Change ping interval for failure to 5
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Fixed alert not showing up on format error
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Set ping stop to 3x failed pings
  peerprep/components/questionpage/CollabEditor.tsx
Due: lint-staged

Adjust collab delete algorithm
  collab/main.go
Due: golangci-lint

Fix navbar showing logged in when not
  peerprep/app/actions/server_actions.ts
  peerprep/app/questions/page.tsx
  peerprep/components/navbar/ProfileDropdown.tsx
  peerprep/components/shared/TitleBar.tsx
  peerprep/middleware.ts
Due: lint-staged

Fix middleware not doing anything
  peerprep/middleware.ts
Due: lint-staged

Deploy more risky
  compose.yaml
  kubernetes/collab-service-deployment.yaml
  kubernetes/peerprep-deployment.yaml
Due: none

Fix REGEX not matching all routes
  peerprep/middleware.ts
Due: lint-staged

Add missing message type for close-room
  collab/main.go
Due: golangci-lint

fix collab
  collab/main.go
  compose.yaml
  kubernetes/collab-service-deployment.yaml
  kubernetes/peerprep-deployment.yaml
Due: golangci-lint

add kubernetes to gitignore
  .gitignore
Due: none

Add link to readme
  README.md
Due: none
